.c-card {
    border-radius: 10px;
    box-shadow: rgb(0 17 51 / 5%) 0px 3px 15px;;
    border: 1px solid #e4e7eb;
    display: flex;
    align-items: center;
    padding: 15px;
    position: relative;
    margin-bottom: 16px;
    background-color: #fff;

    &__symbol {
        width: 80px;
        height: 80px;
        font-size: 24px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 15px;
        border-radius: 50%;

        &--red {
            color: $color-red;
            background-color: rgba($color-red,10%);
        }

        &--seaGreen {
            color: $color-seagreen;
            background-color: rgba($color-seagreen,10%);
        }

        &--green {
            color: $color-green;
            background-color: rgba($color-green,10%);
        }

        &--blue {
            color: $color-primary;
            background-color: rgba($color-primary,10%);
        }

        &--pink {
            color: $color-pink;
            background-color: rgba($color-pink,10%);
        }

        &--coral {
            color: $color-coral;
            background-color: rgba($color-coral,10%);
        }

        &--orange {
            color: $color-orange;
            background-color: rgba($color-orange,10%);
        }

        &--dimgrey {
            color: $color-secondary;
            background-color: rgba($color-secondary,10%);
        }

        &--purple {
            color: $color-purple;
            background-color: rgba($color-purple,10%);
        }
    }


    &__amount {
        font-size: 20px;
        color: $color-secondary;
    }

    &__name {
        font-size: 14px;
        color: $color-light-grey;
    }

    &__loading {
        position: absolute;
        top: 15px;
        right: 15px;
        width: 15px;
        height: 15px;
    }


}