// colors
$color-light-grey:#c0c0c0;
$color-grey-dark:#4e4d4d;
$color-primary: #006FE8;
$color-primary-dark:#2e3c57;
$color-secondary:#5C667B;
$color-red:#BF3547;

// fonts
$font-family-regular:"Lato Regular";
$font-family-bold:"Lato Bold";