<form class="c-form container">
    <div class="row">
        <div class="col-md-5 u-mb-15">
            <label>From Amount</label>
            <div class="currency-control">
                <input type="text" appPositiveNumber name="from-amount" class="form-control"
                    [(ngModel)]="currencyConversionDTO.fromAmount" (ngModelChange)="fromAmountChange()" />
                <kendo-dropdownlist name="from-currency" [data]="currencyDDL"
                    [(ngModel)]="currencyConversionDTO.fromCurrency" (ngModelChange)="fromAmountChange()">
                </kendo-dropdownlist>
            </div>
            <div class="currency-control__info" *ngIf="baseCurrencyAccessRestricted">Selected currency access
                restricted, please select another currency

            </div>

        </div>
        <div class="col-md-2">
            <div class="c-form__conversion-icon">
                <svg>
                    <use xlink:href="/assets/images/svg-icons.svg#icon-conversion"></use>
                </svg>
            </div>
        </div>
        <div class="col-md-5 u-mb-15">
            <label>To Amount
                <!-- start loading icon -->
                <svg *ngIf="isLoading" class="c-form__loading" xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink" width="200px" height="200px" viewBox="0 0 100 100"
                    preserveAspectRatio="xMidYMid">
                    <circle cx="50" cy="50" fill="none" stroke="#006fe8" stroke-width="10" r="35"
                        stroke-dasharray="164.93361431346415 56.97787143782138">
                        <animateTransform attributeName="transform" type="rotate" repeatCount="indefinite" dur="1s"
                            values="0 50 50;360 50 50" keyTimes="0;1" />
                    </circle>
                </svg>
                <!-- end loading icon -->

            </label>
            <div class="currency-control">
                <input type="text" appPositiveNumber name="to-amount" class="form-control"
                    [(ngModel)]="currencyConversionDTO.toAmount" disabled />
                <kendo-dropdownlist name="to-currency" [data]="currencyDDL"
                    [(ngModel)]="currencyConversionDTO.toCurrency" (ngModelChange)="convert()">
                </kendo-dropdownlist>
            </div>
        </div>
    </div>


    <div class="c-form__footer">
        <div *ngIf="currencyConversionDTO.fromAmount && currencyConversionDTO.toAmount">
            <div class="c-form__from-amount">{{currencyConversionDTO.fromAmount }}
                {{currencyConversionDTO.fromCurrency}} =
            </div>
            <div class="c-form__to-amount">{{currencyConversionDTO.toAmount }} {{currencyConversionDTO.toCurrency}}
            </div>
        </div>

        <div class="c-form__details">More Details</div>

    </div>


</form>